/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
$cell-border-color: #454545;
$cell-dead-color: black;
$cell-alive-color: #006400;
$cell-alive-color2: #00FF00;
$main-header-color: white;

body {
	background-image: url("images/wall.jpg");
}

#container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

.main-header {
	text-align: center;
	color: $main-header-color;
}

@mixin controls {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 0 20px 0 ;
}

.controls {
	@include controls;
}

.control {
	margin: 0 10px 0 10px;
	width: 100px;
	font-family: 'Ubuntu', sans-serif;
}

.grid-controls {
	@include controls;
	padding-top: 20px;
}

.generations {
	color: $main-header-color;
}

.board {
	display: flex;
	flex-wrap: wrap;
	width: 840px;
	margin: 0 auto;
	border: 2px solid gray;
}

.cell {
	box-sizing: border-box;
	width: 12px;
	height: 12px;
	border-right: 1px solid $cell-border-color;
	border-bottom: 1px solid $cell-border-color;
	margin: 0;
	background-color: $cell-dead-color;
}

/* keyframe is self invoking transition (occurs once element is mounted, doesn't need a mouse click or form submission ..etc) */
@keyframes celltest {
	from {background-color: $cell-alive-color;}
	to {background-color: $cell-alive-color2;}
}

/* animation is specified... background-color is the final background color after animation is over, if not specified, no color will used. */
.alive {
	animation: celltest 1s ease;
	background-color: $cell-alive-color2;
}

.information {
	color: $main-header-color;
	font-size: 0.85em;
	li {
		margin: 5px 0 5px 0;
	}
	a {
		color: $main-header-color;
	}
}

.footer {
	margin-top: 20px;
	font-size: 0.7em;
	color: gray;
	a {
		color: gray;
	}
}